.services {
    position: relative;
    width: 1320px;
    margin: 0 auto;
    padding: 0 105px;
}

.services-background {
    background-image: url("../images/our-collection.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 1110px;
    height: 196px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 -15px;
    position:absolute;
    width: 1111px;
    height: 398.55px;
    left: 55px;
    top: 126px;
}

.services-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0 15px;
    width: 255px;
}

.services-item-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.services-item-img {
    margin-bottom: 71px;
}

.services-item-heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.services-item-heading-desc {
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

@media only screen and (max-width:730px){
    .services-list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .services-item {
        width: 573px;
    }

    .services-item-link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}