/* HEADER */

.header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 44px 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__nav-itemlink {
        color: #83888F;
        padding: 44px 16px;
        text-decoration: none;
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */
        letter-spacing: 0.923077px;
        text-transform: uppercase;
    }
    &__nav-itemlink:hover {
        color: #000;
    }

    &__nav-itemlink:active {
        color: blue;
    }
}
@media only screen and (max-width: 730px) {
    .header{
        padding: 40px 0;
    }
}